.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text);
}

.loadingText {
  font-size: 1.5em;
  animation: blink 1.5s infinite;
}

.successText {
  font-size: 1.5em;
  color: rgb(31, 194, 194);
}

.errorText {
  font-size: 1.5em;
  color: rgb(236, 101, 101);
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
