.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text);
}

.loadingText {
  font-size: 1.5em;
  animation: blink 1.5s infinite;
}

.successText {
  font-size: 1.5em;
  color: rgb(31, 194, 194);
  animation: pulse 1.5s infinite;
}

.errorText {
  font-size: 1.5em;
  color: rgb(236, 101, 101);
  animation: shake 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
